@model IEnumerable<TCC.Models.Clinica>

@{
    ViewData["Title"] = "Lista de Clínicas";
}

<h1>Lista de Clínicas</h1>


<a href="#" class="btn btn-default btnCadastrar">Cadastrar</a>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Endereço
                </th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    @if (item.Foto == null || item.Foto == "")
                    {
                        <td>
                            Não possui foto

                        </td>
                    }
                    else
                    {
                        <td>
                            Possui foto
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @item.ClinicaEndereco.CidadeDistrito - @item.ClinicaEndereco.Rua, @item.ClinicaEndereco.Numero
                    </td>
                    <td>

                        <button class="button-edit"><i class="bi bi-pencil-square btnEditar" data-value="@item.Id"></i></button>
                        <button class="button-delete"><i class="bi bi-trash btnExcluir" data-value="@item.Id"></i></button>
                        <button class="button-details"><i class="bi bi-zoom-in btnDetalhes" data-value="@item.Id"></i></button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="teste"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $(".btnDetalhes").click(function () {

                var id = $(this).data("value");
                $("#teste").load("/Clinica/Detalhes/" + id, function () {
                    $('#myModal').modal("show");
                });
            });
            $(".btnEditar").click(function () {

                var id = $(this).data("value");
                $("#teste").load("/Clinica/Editar/" + id, function () {
                    $('#myModal').modal("show");
                });
            });
            $(".btnExcluir").click(function () {

                var id = $(this).data("value");
                $("#teste").load("/Clinica/Deletar/" + id, function () {
                    $('#myModal').modal("show");
                });
            });
            $(".btnCadastrar").click(function () {

                var id = $(this).data("value");
                $("#teste").load("/Clinica/Cadastrar/" + id, function () {
                    $('#myModal').modal("show");
                });
            });
        });
    </script>

}